  <div class="table-responsive-md">
    <div class="row">
      <div class="col-md-9">
        <h1>Table</h1>
      </div>
      <div class="col-md-3">
        <div class="search-container mr-3">
          <mat-form-field appearance="outline">
            <input
              class="ml-4 input"
              matInput
              placeholder="search"
              autocomplete="off"
              matInput
              placeholder="Search"
              (keyup)="filterData($event)"
            />
            <mat-icon matSuffix mat-icon>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div >
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <!-- title Column -->
        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef>projectName</th>
          <td mat-cell *matCellDef="let element">{{ element.projectName }}</td>
        </ng-container>
        <!-- price Column -->
        <ng-container matColumnDef="Reason">
          <th mat-header-cell *matHeaderCellDef>Reason</th>
          <td mat-cell *matCellDef="let element">{{ element.Reason }}</td>
        </ng-container>
        <!-- type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <div class="d-flex justify-content-between">
          <!-- rating.count Column -->
          <ng-container matColumnDef="Division" class="mr-2">
            <th mat-header-cell *matHeaderCellDef>Division</th>
            <td mat-cell *matCellDef="let element">{{ element.Division }}</td>
          </ng-container>
          <!-- quality -->
          <!-- <ng-container matColumnDef="quality" class="mr-2">
            <th mat-header-cell *matHeaderCellDef>quality</th>
            <td mat-cell *matCellDef="let element">{{ element.quality }}</td>
          </ng-container> -->
          <!-- priority -->
          <ng-container matColumnDef="priority" class="mr-2">
            <th mat-header-cell *matHeaderCellDef>priority</th>
            <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
          </ng-container>
          <!-- Department -->
          <ng-container matColumnDef="Department" class="mr-2">
            <th mat-header-cell *matHeaderCellDef>Department</th>
            <td mat-cell *matCellDef="let element">{{ element.Department }}</td>
          </ng-container>
          <!-- location -->
          <ng-container matColumnDef="location" class="mr-2">
            <th mat-header-cell *matHeaderCellDef>location</th>
            <td mat-cell *matCellDef="let element">{{ element.location }}</td>
          </ng-container>
          <!-- status -->
          <ng-container matColumnDef="status" class="mr-2">
            <th mat-header-cell *matHeaderCellDef>status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <!-- button -->
          <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex justify-content-between">
                <button
                mat-raised-button
                  (click)="StatusChange(element.id, 'Running')"
                >
                  <i class="fa-regular fa-eye"></i>
                  Start
                </button>
                <button
                mat-raised-button
                  (click)="StatusChange(element.id, 'Closed')"
                >
                  <i class="fa-regular fa-eye"></i>
                  Close
                </button>
                <button
                mat-raised-button
                  (click)="StatusChange(element.id, 'Cancel')"
                >
                  <i class="fa-regular fa-eye"></i>
                  Cancel
                </button>
              </div>
            </td>
          </ng-container>
        </div>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 5, 10]">
    </mat-paginator>
  </div>
<!-- dfhdfgfdgdfgdfgdf -->
